@import "mocha.css";

* {
  border: none;
  border-radius: 16px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text;
}

tooltip {
  background: @mantle;
  border: 2px solid @mauve;
  border-radius: 16px;
  padding: 6px 10px;
}

tooltip label {
  color: @text;
}

tooltip calendar {
  color: @text;
}

tooltip calendar.header {
  color: @mauve;
}

tooltip calendar.button {
  color: @blue;
}

tooltip calendar.highlight {
  color: @green;
}

tooltip calendar:indeterminate {
  color: @overlay0;
}

#workspaces {
  background-color: @base;
  margin: 3px 30px;
  padding: 0 4px;
}

#workspaces button {
  color: @surface0;
  padding: 0 2px;
  font-size: 18px;
}

#workspaces button.persistent {
  color: @yellow;
}

#workspaces button.visible {
  color: @sapphire;
}

#workspaces button.active {
  color: @blue;
}

#workspaces button.special {
  color: @mauve;
}

#workspaces button.urgent {
  color: @red;
}

#cpu,
#custom-gpu,
#memory {
  background-color: @base;
  margin: 3px 0;
  padding: 3px 9px;
  border-radius: 0;
}

#cpu {
  margin-left: 8px;
  border-radius: 16px 0 0 16px;
  color: @peach;
}

#custom-gpu {
  color: @sky;
}

#memory {
  border-radius: 0 16px 16px 0;
  color: @teal;
}

#custom-music {
  background-color: @base;
  margin: 3px 0 3px 8px;
  padding: 3px 10px;
  color: @lavender;
}

#custom-vesktop-mic,
#custom-vesktop-out,
#pulseaudio {
  background-color: @base;
  margin: 3px 0;
  padding: 3px 9px;
  border-radius: 0;
  color: @green;
}

#custom-vesktop-mic {
  margin-left: 8px;
  padding-left: 16px;
  border-radius: 16px 0 0 16px;
}

#custom-vesktop-mic.muted {
  color: @red;
}

#custom-vesktop-out.deafened {
  color: @red;
}

#custom-vesktop-mic.missing,
#custom-vesktop-out.missing {
  color: @overlay1;
}

#pulseaudio {
  padding-right: 16px;
  border-radius: 0 16px 16px 0;
  color: @mauve;
}

#backlight,
#battery {
  background-color: @base;
  margin: 3px 0;
  padding: 3px 9px;
  border-radius: 0;
}

#backlight {
  margin-left: 8px;
  border-radius: 16px 0 0 16px;
  color: @yellow;
}

#battery {
  border-radius: 0 16px 16px 0;
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#clock {
  background-color: @base;
  margin: 3px 8px;
  padding: 3px 10px;
  color: @blue;
}

#tray {
  background-color: @base;
  margin: 3px 0 3px 8px;
  padding: 3px 10px;
}

#custom-notification,
#custom-lock,
#custom-power {
  background-color: @base;
  margin: 3px 0;
  padding: 3px 10px;
  border-radius: 0;
}

#custom-notification {
  margin-left: 8px;
  border-radius: 16px 0 0 16px;
  color: @lavender;
}

#custom-lock {
  color: @subtext0;
}

#custom-power {
  margin-right: 8px;
  border-radius: 0 16px 16px 0;
  color: @red;
}
